* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
}

body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #000428,
    #004e92
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #000428,
    #004e92
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root {
  --main-color: #007bff;
  --font-size: 16px;
  --familyA: Verdana, Geneva, Tahoma, sans-serif;
}

#Title {
  color: white;
  font-size: 30px;
  font-family: var(--familyA);
  margin-top: 30px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
  }
}

#visibleText {
  display: none;
  display: block;
  margin: auto;
  border: 1px solid red;
  border: 1px solid greenyellow;
  border-radius: 10px;
  padding: 20px 40px;
  width: fit-content;
  color: white;
  font-family: var(--familyA);
  font-size: 20px;
}

#visibleText span {
  font-family: var(--familyA);
  font-size: 24px;
}

#parentFrame {
  /* background-image: url(./bg1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; 
  background-size: cover; */

  margin: auto;
  width: auto;

  /* @media (max-width: 768px) {
    width: 100px;
  } */
}

/* #canvas {
  width: 400px;
  height: 400px;
} */

#bgImg {
  width: 300px;
}
