* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
}

body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    /* to bottom, */ #000428,
    #004e92
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    /* to bottom, */ #000428,
    #004e92
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100dvh;
  overflow-y: scroll;
}

:root {
  --main-color: #007bff;
  --colorA: #1627c2;
  --colorB: #2c3dd6;
  --wallColor: #dae1e7;
  --font-size: 16px;
  --familyA: Verdana, Geneva, Tahoma, sans-serif;
}

#Title {
  color: white;
  font-size: 30px;
  font-family: var(--familyA);
  margin-top: 25px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
  }
}

#BtnAndStatusCont {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 30px;
}

#BtnAndStatusCont button {
  border: none;
  background-color: var(--colorA);
  color: white;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: var(--familyA);
  cursor: pointer;
}

#BtnAndStatusCont button:hover {
  background-color: var(--colorB);
}

#visibleText {
  color: white;
  display: none;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 8px 20px;
  width: 200px;
  font-family: var(--familyA);
  font-size: 20px;
}

#visibleText span {
  font-family: var(--familyA);
  font-size: 26px;
  font-weight: 500;
}

#parentFrame {
  background-color: var(--wallColor);
  margin: auto;
  width: 750px;
  border-radius: 15px;
  border: 8px solid var(--main-color);

  /* @media (max-width: 768px) {
    width: 100px;
  } */
}

#parentFrame canvas {
  position: absolute;
  margin-top: 30px;
  margin-left: -200px;
  border-radius: 10px;
  border: 10px solid grey;
}

#parentFrame img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* #canvas {
  width: 400px;
  height: 400px;
} */

#bgImg {
  width: 300px;
}
