<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name" placeholder="Name" />
  <div
    *ngIf="registrationForm.get('name').hasError('required')"
    class="error-message"
  >
    Name is required
  </div>
  <div
    *ngIf="registrationForm.get('name').hasError('minlength')"
    class="error-message"
  >
    Name must be at least 3 characters long
  </div>

  <input type="email" formControlName="email" placeholder="Email" />
  <div
    *ngIf="registrationForm.get('email').hasError('required')"
    class="error-message"
  >
    Email is required
  </div>
  <div
    *ngIf="registrationForm.get('email').hasError('email')"
    class="error-message"
  >
    Email must be a valid email address
  </div>

  <input type="password" formControlName="password" placeholder="Password" />
  <div
    *ngIf="registrationForm.get('password').hasError('required')"
    class="error-message"
  >
    Password is required
  </div>
  <div
    *ngIf="registrationForm.get('password').hasError('minlength')"
    class="error-message"
  >
    Password must be at least 6 characters long
  </div>
  <div
    *ngIf="registrationForm.get('password').hasError('passwordStrength')"
    class="error-message"
  >
    Password must contain at least one uppercase letter, one lowercase letter,
    one digit, and one special character
  </div>

  <input
    type="password"
    formControlName="confirmPassword"
    placeholder="Confirm Password"
  />
  <div
    *ngIf="registrationForm.get('confirmPassword').hasError('required')"
    class="error-message"
  >
    Confirm Password is required
  </div>
  <div
    *ngIf="registrationForm.get('confirmPassword').hasError('matchPassword')"
    class="error-message"
  >
    Confirm Password must match Password
  </div>

  <input
    type="tel"
    formControlName="phoneNumber"
    placeholder="Phone Number (Optional)"
  />
  <div
    *ngIf="registrationForm.get('phoneNumber').hasError('pattern')"
    class="error-message"
  >
    Phone number must follow the format (123) 456-7890
  </div>

  <button type="submit">Submit</button>
</form>
