<div class="w-10/11 m-auto flex items-center justify-between">
  <div>
    <select name="Sort" id="">
      <option value="rating">Rating</option>
      <option value="name">Name</option>
      <option value="price">Price</option>
    </select>
  </div>

  <div>
    <select name="Order" id="">
      <option value="asc">Low - High</option>
      <option value="desc">High - Low</option>
    </select>
  </div>

  <div>
    <select name="Sort" id="">
      <option value="men">Men</option>
      <option value="women">Women</option>
      <option value="kids">Kids</option>
      <option value="sneakers">Sneakers</option>
    </select>
  </div>
</div>
