* {
  text-align: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.OuterCont {
  background-color: rgb(175, 100, 245);
  height: 100dvh;
  overflow-y: scroll;
  /* color: chartreuse; */
}
