#Title {
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid red;
  display: inline-flex;
  padding: 10px;
  border-radius: 15px;
  border-left: none;
  border-right: none;
}
