.Outer {
  display: grid;
  place-content: center;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}
.navOuter {
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  margin-bottom: 20px;

  > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 50px;
    p {
      font-size: 20px;
      font-weight: 500;
    }
    div {
      margin: 0;
      padding: 0;
      border: 1px solid grey;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  > button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
  }
}
.formOuter {
  width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.codeEditorCss {
  background-color: #2d2d2d;
  color: #f8f8f2;
  font-family: "Fira Code", "Courier New", monospace; /* Monospaced font for code */
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  line-height: 1.5;
}

.codeEditorCss::-webkit-scrollbar {
  width: 8px;
}

.codeEditorCss::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.codeEditorCss::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
