.homeOuter {
  font-family: var(--fontA);
}
.heading {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
  width: fit-content;
  font-weight: 700;
  font-size: 47px;
  word-spacing: -5px;
  letter-spacing: -1.5px;
  margin-top: 45px;
  line-height: 55px;
}
.subHeading {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
  width: fit-content;
  font-weight: 500;
  font-size: 26px;
  word-spacing: -1.5px;
  margin-top: 22.5px;
}
.topContDiv {
  width: 87.5%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
  margin-top: 75px;
}
.topContDiv > div:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.topContDiv > div:nth-of-type(1) > div {
  border: 2px solid var(--blackB);
  border-radius: 8px;
  font-size: 26px;
  font-weight: 600;
  height: 160px;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 0px 15px;
  box-shadow: var(--shadowB);

  p {
    line-height: 25px;
    text-align: center;
  }
}
.videoOuterDiv {
  min-width: 600px;
  width: 600px;
  height: 375px;
  border-radius: 10px;
  border: 3px solid var(--blackB);
  background: var(--primary);
  display: grid;
  place-content: center;
  place-items: center;

  svg {
    font-size: 160px;
  }
}
.getStartedBtn {
  margin: 75px auto;
  width: fit-content;
  box-shadow: var(--shadowC);
  color: var(--pureWhite);
  background: var(--blackB);
  font-family: var(--fontA);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 27.5px;
  font-weight: 600;
  word-spacing: -2px;
  padding: 20px 60px;
}
.satisfiedCustDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17.5px;
  margin-top: -37.5px;

  > img {
    mix-blend-mode: multiply;
    width: 160px;
  }
  p {
    font-size: 30px;
    font-weight: 400;
    word-spacing: -2.5px;
  }
}
.topBottomContDivOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 100px auto 0px;
}
.topBottomContDivOuter > div {
  box-shadow: var(--shadowB);
  background: var(--pureWhite);
  border: 2px solid var(--blackB);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 275px;
  gap: 12.5px;
  padding: 15px 10px;
  border-radius: 10px;

  img {
    mix-blend-mode: multiply;
    width: 85px;
  }
  p {
    font-size: 22.5px;
    font-weight: 400;
    word-spacing: -2.5px;
    line-height: 30px;
  }
}
.dividerA {
  width: 70%;
  margin: auto;
  height: 4px;
  border-radius: 100%;
  background: var(--orangeB);
}
.dividerB {
  width: 70%;
  margin: auto;
  height: 4px;
  border-radius: 100%;
  background: var(--blackB);
}
.testimonialsOuterDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92.5%;
  margin: 75px auto 0px;
}
.arrowsTestimonials {
  font-size: 100px;
  color: var(--blackB);
  cursor: pointer;
}
.testimonialsCardsHolderDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.cardTestimonial {
  border: 2px solid var(--blackB);
  background: var(--pureWhite);
  border-radius: 10px;
  width: 475px;
  padding: 20px;

  > div:nth-of-type(1) {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
.imgTestimonialDiv {
  background: var(--primary);
  border: 3px solid var(--blackB);
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.nameTestimonialDivOuter {
  p {
    font-size: 32.5px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 40px;
  }
  img {
    width: 170px;
    mix-blend-mode: multiply;
  }
}
.textTestimonial {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 30px;
  margin: 50px auto 20px;
  width: 90%;
}
.categoryHolderDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22.5px auto 0px;
  width: 87.5%;

  > div {
    border-radius: 10px;
    padding: 5px 17.5px;
    background: pink;
    transition: all 0.2s ease;
  }
  > div > p {
    text-align: center;
    margin: auto;
    width: fit-content;
    font-weight: 400;
    font-size: 22px;
    word-spacing: -1.5px;
    margin-top: -2.5px;
  }
}
.cardHolderDivOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82.5%;
  margin: 45px auto 0px;
  gap: 32.5px;

  > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 32.5px;
  }
}
.bigCardDiv {
  height: 550px;
  background: var(--primary);
  border: 3px solid var(--blackB);
  border-radius: 10px;
  margin: auto;
  width: 100%;
}
.smallCardDiv {
  height: 400px;
  background: var(--primary);
  border: 3px solid var(--blackB);
  border-radius: 10px;
  margin: auto;
  width: 100%;
}
.featuresDivOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: -27.5px auto 0px;

  > div {
    display: flex;
    align-items: center;
    gap: 7.5px;
  }
  > div > svg {
    font-size: 40px;
  }
  > div > p {
    font-weight: 500;
    font-size: 26px;
    word-spacing: -2.5px;
    letter-spacing: -0.5px;
  }
}
.moneyBackDivOuter {
  margin: -65px auto 0px;
  width: 70%;

  img {
    mix-blend-mode: multiply;
    width: 160px;
    height: 160px;
  }
}
.outerPricingDiv {
  display: flex;
  justify-content: space-between;
  margin: -50px auto 0px;
  width: 90%;
  gap: 40px;
}
.priceCardDiv {
  flex: 1;
}
.mostPopularDiv {
  background: var(--orangeB);
  border-radius: 10px;
  width: 100%;
  padding: 10px 0px 0px;
}
.actualMostPopularDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  margin: 0px auto 7.5px;

  > img {
    mix-blend-mode: multiply;
    width: 160px;
  }
  > p {
    margin: 0;
    padding: 0;
    font-size: 27.5px;
    font-weight: 700;
    letter-spacing: -1.5px;
    word-spacing: -1.5px;
  }
}
.typePriceDiv {
  background: var(--blackB);
  color: var(--pureWhite);
  border-radius: 8px;
  padding: 7.5px 0px;
  text-align: center;
  margin: auto;
  width: 370px;

  > p {
    font-size: 27.5px;
    font-weight: 700;
  }
}
.priceDivs {
  box-shadow: var(--shadowD);
  border: 2px solid var(--blackB);
  background: var(--pureWhite);
  border-radius: 10px;
  padding: 60px 20px 0px;
  height: 92.5%;

  h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 35px;
    font-weight: 800;
    font-size: 30px;
  }
  hr {
    border: 0.5px solid var(--blackB);
    margin: 45px auto 35px;
    width: 85%;
  }
  p {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.5px;
    word-spacing: -1px;
    margin-top: 10px;
  }
  .combinedPricePtag {
    display: flex;
    flex-direction: column;

    > span:nth-of-type(2) {
      margin-top: -12.5px;
    }
  }
  .boldPriceFeature {
    font-weight: 900;
  }
}
.dontLikeOuterDiv {
  margin: auto;
  width: 87.5%;
  display: flex;
  align-items: center;
  gap: 75px;

  > div > h1:nth-of-type(1) {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-weight: 700;
    font-size: 47px;
    word-spacing: -5px;
    letter-spacing: -1.5px;
    margin-top: 50px;
    line-height: 55px;
  }

  > img:nth-of-type(1) {
    width: 340px;
    height: 340px;
    mix-blend-mode: multiply;
  }
  h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    width: fit-content;
    font-weight: 500;
    font-size: 26px;
    word-spacing: -1.5px;
    letter-spacing: -1px;
    margin-top: 30px;
    line-height: 30px;
  }
  h1 > em {
    color: var(--primary);
    cursor: pointer;
    font-style: italic;
    font-weight: 700;
  }
}
.signatureDiv {
  img {
    width: 225px;
    mix-blend-mode: multiply;
    margin-top: 40px;
  }
  h2 {
    font-weight: 700;
    font-size: 28px;
    margin-top: -10px;
    letter-spacing: -1px;
    word-spacing: -1px;
  }
  p {
    font-weight: 500;
    font-size: 28px;
    margin-top: -20px;
    letter-spacing: -1px;
    word-spacing: -1px;
  }
}
.processOuter {
  width: 92.5%;
  margin: 75px auto 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.processCardDiv {
  background: var(--orangeB);
  border-radius: 10px;
  flex: 1;
  text-align: center;
  padding: 20px 15px 50px;

  img {
    mix-blend-mode: multiply;
    width: 375px;
  }
  h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 28px;
    margin-top: 30px;
    letter-spacing: -1px;
    word-spacing: -2.5px;
  }
  p {
    margin: auto;
    text-align: center;
    width: fit-content;
    font-weight: 500;
    font-size: 24.5px;
    word-spacing: -1.5px;
    letter-spacing: -1px;
    margin-top: 30px;
    line-height: 35px;
    padding: 0px 17.5px;
  }
}
