.homeOuter {
  font-family: var(--fontA);
}
.heading {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
  width: fit-content;
  font-weight: 700;
  font-size: 47px;
  word-spacing: -5px;
  letter-spacing: -1.5px;
  margin-top: 45px;
  line-height: 55px;
  width: 85%;

  @media (max-width: 1250px) {
    width: 90%;
  }
  @media (max-width: 992px) {
    font-size: 44px;
    margin-top: 42.5px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.subHeading {
  padding: 0;
  text-align: center;
  margin: auto;
  width: fit-content;
  font-weight: 500;
  font-size: 24px;
  word-spacing: -1.5px;
  letter-spacing: 0px;
  line-height: 35px;
  margin: 30px auto 75px;

  @media (max-width: 1250px) {
    width: 90%;
  }
  @media (max-width: 992px) {
    font-size: 24px;
    margin: 25px auto 60px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.topContDiv {
  width: 87.5%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;

  @media (max-width: 1250px) {
    gap: 60px;
  }
  @media (max-width: 992px) {
    width: 90%;
    gap: 40px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.topContDiv > div:nth-of-type(1) {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  @media (max-width: 992px) {
    gap: 30px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.topContDiv > div:nth-of-type(1) > div {
  border: 2px solid var(--blackB);
  box-shadow: var(--shadowB);
  place-content: center;
  display: grid;
  place-items: center;
  border-radius: 8px;
  height: 160px;
  padding: 0px 15px;

  p {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
  }

  @media (max-width: 992px) {
    height: 130px;
    padding: 0px 12.5px;

    p {
      font-size: 24px;
      font-weight: 500;
      line-height: 27.5px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.videoOuterDiv {
  cursor: pointer;
  display: grid;
  place-content: center;
  place-items: center;
  background: var(--primary);
  border: 3px solid var(--blackB);
  width: 45%;
  height: 375px;
  border-radius: 10px;

  svg {
    font-size: 160px;
  }

  @media (max-width: 992px) {
    height: 290px;

    svg {
      font-size: 130px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.getStartedBtn {
  margin: 75px auto;
  width: fit-content;
  box-shadow: var(--shadowC);
  color: var(--pureWhite);
  background: var(--blackB);
  font-family: var(--fontA);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 27.5px;
  font-weight: 600;
  word-spacing: -2px;
  padding: 20px 60px;

  @media (max-width: 992px) {
    margin: 60px auto;
    font-size: 24px;
    word-spacing: -1.5px;
    padding: 12.5px 47.5px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.satisfiedCustDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17.5px;
  margin-top: -37.5px;

  > img {
    mix-blend-mode: multiply;
    width: 160px;
  }
  p {
    font-size: 30px;
    font-weight: 400;
    word-spacing: -2.5px;
  }

  @media (max-width: 992px) {
    gap: 15px;
    margin-top: -37.5px;

    > img {
      width: 150px;
    }
    p {
      font-size: 27.5px;
      font-weight: 400;
      word-spacing: -2px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.topBottomContDivOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32.5px;
  width: 87.5%;
  margin: 100px auto;

  @media (max-width: 1250px) {
    flex-wrap: wrap;
  }
  @media (max-width: 992px) {
    gap: 35px;
    width: 77.5%;
    margin: 75px auto 85px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.topBottomContDivOuter > div {
  margin: auto;
  width: 275px;
  box-shadow: var(--shadowB);
  background: var(--pureWhite);
  border: 2px solid var(--blackB);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12.5px;
  padding: 15px 10px;
  border-radius: 10px;

  img {
    mix-blend-mode: multiply;
    width: 85px;
  }
  p {
    font-size: 22.5px;
    font-weight: 400;
    word-spacing: -2.5px;
    line-height: 30px;
  }

  @media (max-width: 992px) {
    width: 270px;
    padding: 13px 9px;

    img {
      width: 80px;
    }
    p {
      font-size: 22px;
      word-spacing: -2px;
      line-height: 30px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.dividerA {
  width: 70%;
  margin: auto;
  height: 4px;
  border-radius: 100%;
  background: var(--orangeB);

  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.dividerB {
  width: 70%;
  margin: auto;
  height: 4px;
  border-radius: 100%;
  background: var(--blackB);

  @media (max-width: 1250px) {
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.testimonialsOuterDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 92.5%;
  margin: 0px auto 100px;

  @media (max-width: 992px) {
    gap: 10px;
    width: 95%;
    margin: 0px auto 85px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.arrowsTestimonials {
  font-size: 100px;
  color: var(--blackB);
  cursor: pointer;

  @media (max-width: 992px) {
    min-width: 40px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.testimonialsCardsHolderDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 992px) {
    gap: 30px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.cardTestimonial {
  border: 2px solid var(--blackB);
  background: var(--pureWhite);
  border-radius: 10px;
  width: 46%;
  padding: 20px;

  > div:nth-of-type(1) {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  @media (max-width: 992px) {
    width: auto;
    padding: 17.5px;

    > div:nth-of-type(1) {
      gap: 15px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.imgTestimonialDiv {
  background: var(--primary);
  border: 3px solid var(--blackB);
  border-radius: 50%;
  min-width: 120px;
  min-height: 120px;
  width: 120px;
  height: 120px;

  @media (max-width: 992px) {
    min-width: 85px;
    min-height: 85px;
    width: 85px;
    height: 85px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.nameTestimonialDivOuter {
  p {
    font-size: 32.5px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 40px;
  }
  img {
    width: 170px;
    mix-blend-mode: multiply;
  }

  @media (max-width: 992px) {
    p {
      font-size: 24.5px;
      line-height: 30px;
      width: fit-content;
    }
    img {
      width: 130px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.textTestimonial {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 30px;
  margin: 50px auto 20px;
  width: 90%;

  @media (max-width: 992px) {
    font-size: 22px;
    line-height: 25px;
    margin: 30px auto 15px;
    width: 95%;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.categoryHolderDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  margin: 22.5px auto 10px;
  width: 87.5%;
  padding-bottom: 11.5px;

  > div {
    border-radius: 10px;
    padding: 5px 17.5px;
    background: pink;
    transition: all 0.2s ease;
  }
  > div > p {
    text-align: center;
    margin: auto;
    width: fit-content;
    font-weight: 400;
    font-size: 22px;
    margin-top: -2.5px;
  }

  @media (max-width: 992px) {
    width: 90%;
    margin: 20px auto 10px;

    > div {
      border-radius: 8px;
      padding: 3px 15px;
    }
    > div > p {
      font-size: 20px;
      margin-top: -2px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.cardHolderDivOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82.5%;
  margin: 45px auto 100px;
  gap: 32.5px;

  > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 32.5px;
  }

  @media (max-width: 992px) {
    width: 85%;
    margin: 42.5px auto 85px;
    gap: 27.5px;

    > div {
      gap: 27.5px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.bigCardDiv {
  height: 550px;
  background: var(--primary);
  border: 3px solid var(--blackB);
  border-radius: 10px;
  margin: auto;
  width: 100%;

  @media (max-width: 992px) {
    height: 400px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.smallCardDiv {
  height: 400px;
  background: var(--primary);
  border: 3px solid var(--blackB);
  border-radius: 10px;
  margin: auto;
  width: 100%;

  @media (max-width: 992px) {
    height: 250px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.featuresDivOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: -25px auto 85px;

  > div {
    display: flex;
    align-items: center;
    gap: 7.5px;
  }
  > div > svg {
    font-size: 40px;
  }
  > div > p {
    font-weight: 500;
    font-size: 26px;
    word-spacing: -2.5px;
    letter-spacing: -0.5px;
    line-height: 35px;
  }

  @media (max-width: 1250px) {
    width: 90%;
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.moneybackContOuter {
  margin: auto;
  width: 70%;
  display: flex;
  gap: 125px;

  img {
    mix-blend-mode: multiply;
    width: 160px;
    height: 160px;
    margin-top: 10px;
  }
  p {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-weight: 500;
    font-size: 24px;
    word-spacing: -1.5px;
    letter-spacing: 0px;
    margin-top: 30px;
    line-height: 35px;
    white-space: nowrap;
  }

  @media (max-width: 992px) {
    width: 85%;
    gap: 50px;

    img {
      width: 130px;
      height: 130px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.outerPricingDiv {
  display: flex;
  justify-content: space-between;
  margin: -40px auto 150px;
  width: 90%;
  gap: 40px;

  @media (max-width: 992px) {
    width: 85%;
    flex-direction: column;
    margin: -40px auto 100px;

    > div:nth-of-type(2),
    > div:nth-of-type(4) {
      display: none;
    }
    > div:nth-of-type(3) {
      margin: auto;
      width: 375px;
      margin-top: 70px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.lowScreenDivOuter {
  display: none;
  gap: 40px;

  @media (max-width: 992px) {
    display: flex;
  }
}
.priceCardDiv {
  flex: 1;
}
.mostPopularDiv {
  background: var(--orangeB);
  border-radius: 10px;
  width: 100%;
  padding: 15px 0px 0px;

  @media (max-width: 992px) {
    padding: 12.5px 0px 0px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.actualMostPopularDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  margin: 0px auto 15px;

  > img {
    mix-blend-mode: multiply;
    width: 160px;
  }
  > p {
    margin: 0;
    padding: 0;
    font-size: 27.5px;
    font-weight: 700;
    letter-spacing: -1.5px;
    word-spacing: -1.5px;
    line-height: 35px;
    white-space: nowrap;
  }

  @media (max-width: 992px) {
    gap: 15px;
    margin: 0px auto 12.5px;

    > img {
      width: 140px;
    }
    > p {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: -1px;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.typePriceDiv {
  background: var(--blackB);
  color: var(--pureWhite);
  border-radius: 8px;
  padding: 7.5px 0px;
  text-align: center;
  margin: auto;
  width: 90%;

  > p {
    font-size: 25px;
    font-weight: 700;
  }

  @media (max-width: 992px) {
    padding: 7px 0px;

    > p {
      font-size: 24px;
      font-weight: 600;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.priceDivs {
  box-shadow: var(--shadowD);
  border: 2px solid var(--blackB);
  background: var(--pureWhite);
  border-radius: 10px;
  padding: 60px 20px 0px;
  height: 92.5%;

  h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 35px;
    font-weight: 800;
    font-size: 30px;
  }
  hr {
    border: 0.5px solid var(--blackB);
    margin: 45px auto 35px;
    width: 85%;
  }
  p {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.5px;
    word-spacing: -1px;
    margin-top: 10px;
  }
  .combinedPricePtag {
    display: flex;
    flex-direction: column;

    > span:nth-of-type(2) {
      margin-top: -12.5px;
    }
  }
  .boldPriceFeature {
    font-weight: 900;
  }

  @media (max-width: 992px) {
    padding: 40px 15px 0px;
    height: 90%;

    h1 {
      line-height: 35px;
      font-weight: 800;
      font-size: 28px;
    }
    hr {
      margin: 37.5px auto 32.5px;
      width: 82.5%;
    }
    p {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.5px;
      word-spacing: -1px;
      margin-top: 5px;
    }
    .boldPriceFeature {
      font-weight: 800;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.dontLikeOuterDiv {
  margin: 0px auto 22.5px;
  width: 87.5%;
  display: flex;
  align-items: center;
  gap: 75px;

  > div > h1:nth-of-type(1) {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-weight: 700;
    font-size: 47px;
    word-spacing: -5px;
    letter-spacing: -1.5px;
    margin-top: 50px;
    line-height: 55px;
  }
  > img:nth-of-type(1) {
    width: 340px;
    height: 340px;
    mix-blend-mode: multiply;
  }
  h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    width: fit-content;
    font-weight: 500;
    font-size: 26px;
    word-spacing: -1.5px;
    letter-spacing: -1px;
    margin-top: 30px;
    line-height: 30px;
  }
  h1 > em {
    color: var(--primary);
    cursor: pointer;
    font-style: italic;
    font-weight: 700;
  }

  @media (max-width: 1250px) {
    width: 87.5%;
    gap: 50px;

    > img:nth-of-type(1) {
      width: 240px;
      height: 240px;
    }
    > div > h1:nth-of-type(1) {
      font-size: 37.5px;
      word-spacing: -2.5px;
      letter-spacing: -1px;
      margin-top: 50px;
      white-space: nowrap;
    }
    h1 {
      font-size: 22.5px;
      margin-top: 20px;
    }
    h1 > em {
      font-weight: 600;
    }
  }
  @media (max-width: 992px) {
    width: 90%;
    gap: 30px;

    > img:nth-of-type(1) {
      width: 160px;
      height: 160px;
    }
    > div > h1:nth-of-type(1) {
      font-size: 32.5px;
    }
    h1 {
      font-size: 20px;
      margin-top: 15px;
    }
    h1 > em {
      font-weight: 500;
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.signatureDiv {
  img {
    width: 225px;
    mix-blend-mode: multiply;
    margin-top: 40px;
  }
  h2 {
    font-weight: 700;
    font-size: 28px;
    margin-top: -10px;
    letter-spacing: -1px;
    word-spacing: -1px;
  }
  p {
    font-weight: 500;
    font-size: 28px;
    margin-top: -20px;
    letter-spacing: -1px;
    word-spacing: -1px;
  }

  @media (max-width: 1250px) {
    img {
      width: 200px;
      margin-top: 30px;
    }
    h2 {
      font-weight: 600;
      font-size: 26px;
      margin-top: -8px;
      letter-spacing: -0.5px;
    }
    p {
      font-weight: 400;
      font-size: 26px;
      margin-top: -17.5px;
      letter-spacing: -0.5px;
    }
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.processOuter {
  width: 92.5%;
  margin: 75px auto 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.processCardDiv {
  background: var(--orangeB);
  border-radius: 10px;
  flex: 1;
  text-align: center;
  padding: 20px 15px 50px;

  img {
    mix-blend-mode: multiply;
    width: 100%;
  }
  h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 28px;
    margin-top: 30px;
    letter-spacing: -1px;
    word-spacing: -2.5px;
  }
  p {
    margin: auto;
    text-align: center;
    width: fit-content;
    font-weight: 500;
    font-size: 24.5px;
    word-spacing: -1.5px;
    letter-spacing: -1px;
    margin-top: 30px;
    line-height: 35px;
    padding: 0px 17.5px;
  }

  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.benefitsOuter {
  margin: 60px auto 125px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px 220px;

  @media (max-width: 992px) {
    gap: 20px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.benefitsCardDiv {
  margin: auto;
  border: 2px solid var(--blackB);
  border-radius: 10px;
  box-shadow: var(--shadowE);
  display: grid;
  place-content: center;
  place-items: center;
  height: 350px;
  padding: 0px 7.5px;
  background: var(--pureWhite);

  h1 {
    padding: 0;
    text-align: center;
    margin: auto;
    width: fit-content;
    font-weight: 700;
    font-size: 45px;
    word-spacing: -5px;
    letter-spacing: -1.5px;
    line-height: 52.5px;
  }
  p {
    margin: auto;
    text-align: center;
    width: fit-content;
    font-weight: 500;
    font-size: 24.5px;
    word-spacing: -1.5px;
    letter-spacing: -1px;
    margin-top: 25px;
    line-height: 30px;
    padding: 0px 17.5px;
  }

  @media (max-width: 1250px) {
    height: 100%;
    padding: 20px 7.5px;
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.faqOuter {
  margin: 60px auto 115px;
  width: 75%;
}
.faqCardDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--blackB);

  p {
    text-align: left;
    font-weight: 500;
    font-size: 28px;
    word-spacing: -1.5px;
    letter-spacing: -1px;
    margin: 32.5px 0px 17.5px;
    line-height: 30px;
  }
  img {
    width: 32.5px;
    mix-blend-mode: multiply;
  }
}
.upperFooter {
  margin: 150px auto 350px;
  width: 92%;
  background: var(--orangeB);
  border-radius: 10px;
  padding: 50px 0px 0.5px;

  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin: auto;
    width: fit-content;
    font-weight: 700;
    font-size: 47px;
    word-spacing: -5px;
    letter-spacing: -1.5px;
    margin-top: 45px;
    line-height: 55px;
  }
  .getStartedBtn {
    width: 380px;
    text-align: center;
  }
  .featuresDivOuter {
    width: 82.5%;
    margin-top: 35px;
  }
  @media (max-width: 1250px) {
    .featuresDivOuter {
      width: 97.5%;
      margin-top: 35px;
    }
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
}
.dividerC {
  width: 60%;
  margin: auto;
  height: 2px;
  border-radius: 50%;
  background: var(--greyA);
}
.footerText {
  margin: 45px auto -57.5px;
  text-align: center;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
}
.footerDiv {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 75px auto 50px;
  border: 1px solid var(--blackB);
  background: var(--greyB);
  border-radius: 8px;
  padding: 6px 0px;

  p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
  }
}
