.navOuter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.095em solid;
  border-color: var(--blackA);
  padding: 27.5px 15px 22.5px;
}
.logoOuter {
  mix-blend-mode: multiply;
  width: 125px;
  cursor: pointer;
}
.navMenuCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 42.5%;
  padding-top: 22.5px;
  margin-left: 130px;

  > p {
    font-family: var(--fontA);
    font-size: 20px;
    font-weight: 500;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
}
.activeNavMenu::before {
  content: "";
  position: absolute;
  margin: 20px 0px 0px 13px;
  background: var(--orangeB);
  border-radius: 100px;
  width: 92.5%;
  height: 11px;
  z-index: -1;
}
.getStartedBtn {
  box-shadow: var(--shadowA);
  color: var(--pureWhite);
  background: var(--blackB);
  font-family: var(--fontA);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-right: 35px;
  font-size: 16px;
  font-weight: 600;
  word-spacing: -2px;
  padding: 10px 30px;
}
