.navOuter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.095em solid var(--blackA);
  padding: 27.5px 15px 22.5px;
  position: relative;

  @media (max-width: 992px) {
    padding: 27.5px 15px 25px;
  }
  @media (max-width: 768px) {
    padding: 25px 12.5px 22.5px;
  }
  @media (max-width: 480px) {
    flex-direction: row-reverse;
    padding: 22.5px 22.5px 20px 15px;
  }
}
.logoCss {
  width: 125px;
  cursor: pointer;
  mix-blend-mode: multiply;

  @media (max-width: 768px) {
    left: 50%;
    width: 115px;
    position: absolute;
    transform: translateX(-50%);
  }
  @media (max-width: 480px) {
    width: 100px;
    position: static;
    left: auto;
    transform: none;
  }
}
.hamburgerMenuCss {
  cursor: pointer;
  display: none;

  @media (max-width: 768px) {
    display: block;
    font-size: 22.5px;
    margin-left: 15px;
  }
  @media (max-width: 480px) {
    font-size: 25px;
    margin-left: 0px;
  }
}
.navMenuCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 42.5%;
  padding-top: 22.5px;
  margin-left: 130px;

  > p {
    font-family: var(--fontA);
    font-size: 20px;
    font-weight: 500;
    position: relative;
    z-index: 100;
    cursor: pointer;
    white-space: nowrap;
  }
  .activeNavMenu::before {
    content: "";
    position: absolute;
    background: var(--orangeB);
    border-radius: 100px;
    z-index: -1;
    width: 92.5%;
    height: 11px;
    margin: 20px 0px 0px 13px;
  }

  @media (max-width: 992px) {
    margin-left: 0px;
    max-width: 52.5%;

    > p {
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
    }

    .activeNavMenu::before {
      margin: 12.5px 0px 0px 13px;
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
  @media (max-width: 480px) {
  }
}
.getStartedBtn {
  box-shadow: var(--shadowA);
  color: var(--pureWhite);
  background: var(--blackB);
  font-family: var(--fontA);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-right: 35px;
  font-size: 16px;
  font-weight: 600;
  word-spacing: -2px;
  padding: 10px 30px;

  @media (max-width: 992px) {
    border-radius: 8px;
    margin-right: 0px;
    font-size: 14px;
    font-weight: 500;
    word-spacing: -1.5px;
    padding: 8px 27.5px;
  }
  @media (max-width: 768px) {
    border-radius: 7.5px;
    font-size: 12.5px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 7px 20px;
  }
  @media (max-width: 480px) {
    display: none;
  }
}
